<h1>Shifty</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<% if current_user %>
  <%= image_tag current_user.image_url, alt: current_user.name %>
  <%= link_to 'Log Out', '#', id: 'logout' %>
<% else %>
  <%= link_to 'Facebook', '/auth/facebook' %>
<% end %>

<%= link_to "Add a shift!", new_shift_path %>
<hr>

<h2>
  <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y")%>
  <%= link_to ">", date: @date.next_month %>
</h2>
<%= calendar @date do |date| %>
  <%= date.day %>
  <% if @shifts_by_date[date] %>
    <ul>
      <% @shifts_by_date[date].each do |shift| %>
        <li>
          <%= link_to image_tag(shift.user.image_url, alt: shift.user.name), shift_path(shift) %>
        </li>
      <% end %>
    </ul>
  <% end%>
<% end %>
