<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<%= calendar @date do |date| %>
  <%= date.day %>
  <% if @shifts_by_date[date] %>
    <div class="container-fluid">
      <% @shifts_by_date[date].each do |shift| %>
        <div class="row <%= shift.day_shift ? 'day' : 'night' %>">
          <div class="col-md-4 pull-md-right m-t-3 text-md-right">
            <%= link_to image_tag(shift.user.image_url, class:"avatar-image small-img", data: {toggle: "tooltip", placement: "bottom"}, title: shift.user.name , alt: shift.user.name), shift_path(shift) %>
          </div>
          <div>
            <% if shift.pending %>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Pending"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end%>
<% end %>